//= require cable
//= require_self
//= require_tree .

this.App = {};

App.cable = ActionCable.createConsumer();

App.messages = App.cable.subscriptions.create('MessagesChannel', {
  received: function(data) {
    $("#new-message-target").removeClass('hidden')
    return $('#new-message-target').append(this.renderMessage(data));
  },

  renderMessage: function(data) {
    return data.message + "<div class='panel-body hidden' id='new-message-target'></div>";
  }
});
