<div class="row">
  <div class="other-message-shell mr-auto">
    <div class="row px-4">
      <div class="message-initials">
        <%= user.username %>
      </div>
      <div class="message-body ml-5">
        <p class="ml-3"><%= message.body %>  - <i class="timestamp"><%= message.created_at%></i></p>
      </div>
    </div>
  </div>
</div>
