<div class="my-message-shell">
  <div class="row px-4">
    <div class="message-body">
      <%= message.body %>
    </div>
    <div class="message-initials ml-auto">
      <%= current_user.initials %>
    </div>
  </div>
</div>
