<div class="other-message-shell">
  <div class="row px-4">
    <div class="message-initials">
      <%= message.user.initials %>
    </div>
    <div class="message-body ml-auto">
      <%= message.body %>
    </div>
  </div>
</div>
