<div class="message-home">
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">My chats</h3>
        </div>
        <div class="card-body" id="subscribed-chats">
          <%= render "my_rooms", my_rooms: @my_rooms %>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-xs-12">
      <div>
        <div class="card">
          <div class="card-header">
          <div class="row justify-content-center">
            <h2 class="text-center mr-3">All chats</h2>
            <%= link_to 'New Message Room', new_message_room_path, class: "btn btn-primary d-block my-auto" %>
          </div>
          </div>
          <div class="card-body p-5" id="subscribed-chats">
            <div class="row">
              <% @all_message_rooms.each do |room| %>
                <%= render partial:'message_room_card', locals: {room: room} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".subscribe-button").click((e) => {
    const element = $(e.target)
    if (element.hasClass("btn-outline-success")) {
      element.removeClass("btn-outline-success");
      element.addClass("btn-outline-danger");
      element.html("Unsubscribe");
    } else if (element.hasClass("btn-outline-danger")) {
      element.removeClass("btn-outline-danger");
      element.addClass("btn-outline-success");
      element.html("Subscribe");
    }
  })
</script>
