<div class="message-room">
  <div class="messages">
    <% @messages.each do |message| %>
      
    <% end %>
  </div>
  <div class="message-input">
    <%= form_with(model: @message, remote: true) do |form| %>
      <div class="row mx-3 py-3">
          <%= form.text_field :body, class: "form-control col-sm-11 col-xs-10", id: "message-input" %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <div class="btn btn-primary col-sm-1 col-xs-2" onclick="clearInput()">SEND</div>
          <%= form.submit 'Send', class: "btn btn-primary col-sm-1 col-xs-2", onclick: "clearInput()" %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function clearInput() {
    $("form").submit()
    $("#message-input").val("");
  }
</script>
