/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #e9ecef !important;
}

.small-card {
  max-width: 400px;
}

a:visited .btn-primary, a:active .btn-primary, a  .btn-primary{
  color: white !important;
}

.message-home {
  padding: 2rem;
}

.message-room {
  .my-message-shell {

  }
  .other-message-shell {

  }
  .messages {
    margin: 15px auto 0;
    height: 70vh;
    width: 80vw;
    border-radius: 15px 15px 0 0;
    background-color: white
  }
  .message-input {
    margin: auto;
    height: auto;
    width: 80vw;
    background-color: darkgrey;
    border-radius: 0 0 15px 15px;
  }
}
