/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #e9ecef !important;
}

.small-card {
  max-width: 400px;
}

.back-arrow {
  position: absolute;
  top: 45px;
  left: 30px;
  font-size: 60px;
}

a:visited .btn-primary, a:active .btn-primary, a  .btn-primary{
  color: white !important;
}

.message-home {
  padding: 2rem;
}

.message-room {
  .other-message-shell {
    height: auto;
    margin-bottom: 7px;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 5px 8px;
  }
  .messages {
    padding: 2rem;
    margin: 15px auto 0;
    height: 70vh;
    width: 80vw;
    border-radius: 15px 15px 0 0;
    background-color: white;
    overflow-y: scroll;
  }
  .message-input {
    margin: auto;
    height: auto;
    width: 80vw;
    background-color: darkgrey;
    border-radius: 0 0 15px 15px;
  }
  .message-initials {
    padding: 3px 6px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white
  }
  .timestamp {
    font-size: 12px;
  }
}
